*{
    margin: 0;
    /* padding: 0; */
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

body{
    /* background-color: #e3e6e6; */
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 113px;
    /* padding-top: 4px; */
    /* margin-left: 1px; */
}

.logo{
    background-image: url(images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
    /* padding: 1px 8px 0 6px; */
    margin: 1px;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
    height: 45px;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
}


/* Box2 */

.add-first{
    color: #cccccc;
    font-size: 12px;
    margin-left: 15px;
}

.add-second{
    font-size: 14px;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}
.nav-address{
    margin: 5px 2px 5px 0px;
    padding: 0px 9px;
}



/* Box 3 */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 850px;
    height: 40px;
    border-radius: 5px;
}

.search-select{
    background-color: #dadada;
    width: 60px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    padding: 7px 10px 10px 10px;
}

.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #fedb68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0F1111;
}

.nav-search:hover{
    border: 2px solid orange;
}


/* Box 4 */

.nav-lang{
    display: flex;
    width: 65px;
}

.flag{
    width: 30px;
    height: 25px;
    background-image: url(images/icons8-usa-flag-48.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.select-lang{
    /* margin-left: 2px; */
    margin-top: 4px;
    width: 25px;
    height: 20px;
    /* font-size: 14px; */
}

.icon-down{
    margin-top: 10px;
    font-size: 10px;
}



/* Box 5 */

.nav-first{
    font-size: 12px;
}

.nav-second{
    font-size: 14px;
    font-weight: 700;
}


/* Box 6 */

.nav-cart i {
    font-size: 30px;
}

.nav-cart{
    font-size: 14px;
    font-weight: 700;
}


/* Panel */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    /* justify-content: space-evenly; */
}

.panel-all{
    padding: 8px 9px;
}

.panel-ops p{
    display: inline;
    margin-left: 10px;
}

.panel-ops{
    width: 70%;
    font-size: 14px;
}



/* Hero Section */

.hero-section{
    background-image: url(images/61lwJy4B8PL._SX3000_.jpg);
    /* width: 1500px; */
    height: 350px;
    background-size: cover;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 97%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185;
    text-decoration: none;
}




/* Shopping Items */

/* Row 1 */
.shop-items{
    display: flex;
    justify-content: space-evenly;
    /* background-color: rgb(255, 192, 203); */
    background: linear-gradient(to bottom, pink, #e3e6e6);
    margin: 0px 10px;
}


/* box1 */

.box{
    /* width: 306px; */
    width: 23%;
    height: 375px;
    background-color: white;
    /* border: 1px solid black; */
    margin-bottom: 10px;
    padding: 20px 0px 15px;
}

.box-content{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.phone {
    background-image: url(images/41aF1Kpc1iL._SY160_.jpg);
    height: 150px;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.box-tech{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.tab{
    background-image: url(images/tab.jpg);
    height: 75px;
    width: 100px;
}

.laptop{
    background-image: url(images/laptop.jpg);
    height: 75px;
    width: 100px;
}

.tv{
    background-image: url(images/tv.jpg);
    height: 75px;
    width: 100px;
}

.box-content p{
    margin-top: 40px;
    font-size: 13px;
    color: #007185;
}

/* box2 */

.box-content2{
    margin-left: 10px;
    margin-right: 10px;
    /* font-size: 15px; */
}

.box-game1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    font-size: 13px;
}

.box-game2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    font-size: 13px;
}

.headset{
    background-image: url(images/headset.jpg);
    background-size: cover;
    height: 120px;
    width: 150px;
}

.keyboard{
    background-image: url(images/keyboard.jpg);
    height: 120px;
    width: 150px;
}

.mouse{
    background-image: url(images/mouse.jpg);
    height: 100px;
    width: 150px;
}

.chair{
    background-image: url(images/chair.jpg);
    height: 100px;
    width: 150px;
}

.box-content2 p{
    margin-top: 20px;
    font-size: 13px;
    color: #007185;
}


/* Box 3 */

.box-content3{
    margin-left: 13px;
    margin-right: 20px;
}

.cpu{
    background-image: url(images/cpu.jpg);
    background-size: 320px 270px;
    background-repeat: no-repeat;
    width: 500px;
    height: 320px;
    margin-top: 10px;
}

.box-content3 p{
    /* margin-top: 10px; */
    font-size: 13px;
    color: #007185;
    /* font-weight: bold; */
}


/* Box 4 */

.box-content4{
    margin-left: 13px;
    margin-right: 20px;
}

.toys{
    background-image: url(images/toys.jpg);
    background-size: 320px 270px;
    background-repeat: no-repeat;
    width: 500px;
    height: 320px;
    margin-top: 10px;
}

.box-content4 p{
    /* margin-top: 10px; */
    font-size: 13px;
    color: #007185;
    /* font-weight: bold; */
}



/* Row 1 */

.shop-items2{
    display: flex;
    justify-content: space-evenly;
    background-color: #e3e6e6;
    /* background: linear-gradient(to bottom, pink, #e3e6e6); */
    margin: 0px 10px;
}


.box-content2{
    margin-left: 10px;
    margin-right: 10px;
    /* font-size: 15px; */
}

.box-fashion1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    font-size: 13px;
}

.box-fashion2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    font-size: 13px;
}

.jeans{
    background-image: url(images/jeans.jpg);
    background-size: cover;
    height: 120px;
    width: 150px;
}

.tops{
    background-image: url(images/tops.jpg);
    height: 120px;
    width: 150px;
}

.dress{
    background-image: url(images/dress.jpg);
    height: 100px;
    width: 150px;
}

.shoes{
    background-image: url(images/shoes.jpg);
    height: 100px;
    width: 150px;
}

.box-content2 p{
    margin-top: 20px;
    font-size: 13px;
    color: #007185;
}
